<div class="col-md-6 col-md-offset-3">
  {{#link-to 'house-bills' class="btn btn-primary"}}Upcoming House Bills{{/link-to}}
  {{#link-to 'senate-bills' class="btn btn-primary"}}Upcoming Senate Bills{{/link-to}}
</div>

{{outlet}}
