<div class="col-md-6 col-md-offset-3">
  {{#link-to 'house-committees' class="btn btn-primary"}}House Committees{{/link-to}}
  {{#link-to 'senate-committees' class="btn btn-primary"}}Senate Committees{{/link-to}}
  {{#link-to 'joint-committees' class="btn btn-primary"}}Joint Committees{{/link-to}}
</div>
<br>
<br>
<br>
{{outlet}}
