<div class="col-md-8 col-md-offset-2">
  <ul>
    {{#each legislator in model}}
      <li><span class="legislator-name">{{legislator.first_name}}</span><br>Contact: <a href="{{legislator.contact_form}}">{{legislator.contact_form}}</a></li>
    {{/each}}
  </ul>
</div>
